<!DOCTYPE html>
<html>

<head>
  <meta name="robots" content="noindex">
  <title>YUKIMOCHI VRChat HLS Bridge - Program Manager</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>VRChat HLS Bridge - Program Manager</h1>
  <form id="request" method="post" action="/">
    <table>
      <tr>
        <td>Instance Key</td>
        <td>
          <input type="text" name="instance">
        </td>
      </tr>
      <tr>
        <td>LiveStream URL</td>
        <td>
          <input type="text" name="ls_url">
        </td>
      </tr>
    </table>
    <br />
    <input type="submit" value="Add Playlist" />
    <br />
    <h2>Supported LiveStream Service</h2>
    <ul>
      <li>YouTube Live</li>
      <li>SHOWROOM</li>
      <li>Mirrativ</li>
      <li>OPENREC.tv</li>
      <% if (twitch) { %>
      <li>Twitch.tv</li>
      <% } %>
    </ul>
  </form>
  <h4>Copyright © 2018 YUKIMOCHI <a href="https://github.com/yukimochi/VRC_HLS">Source Code</a></h4>
</body>

</html>