<!DOCTYPE html>
<html>

<head>
    <meta name="robots" content="noindex">
    <title>YUKIMOCHI VRChat HLS Bridge - Program Manager</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>VRChat HLS Bridge - Program Manager</h1>
    <h2>Thank you for using my world.</h2>
    <h2>Let's enjoy live in VRChat!</h2>
</body>

</html>